<h1>about me:</h1>
<p>my name is sarvesh, and i'm in the 8th grade when coding this website. i'm 14 right now, and i'm an indian living in the united arab emirates!</p>
<p>i learn new things every day at the coolest non-profit in the world, <a href="https://hackclub.com">hackclub</a>! (did you know hackclub is completely <a href="https://github.com/hackclub/">open-source</a>?)</p>
<p>as you probably already know, i'm a programmer! i like to make websites like this one, and i LOVE making video games.</p>
<p>here are the languages i like to use:</p>
<ol class="list-disc list-inside">
    <li>html</li>
    <li>css</li>
    <li>gdscript</li>
    <li>and lately, astro!</li>
</ol>