<h1>me and my frens <3</h1>
<div class="buttons">
<a href="/"><img src="src/assets/sarvesh-button.png" alt="sarvesh button" /></a>
<a href="https://codingcorner.dev/">
  <img
    alt="Coding Corner"
    src="https://codingcorner.dev/buttons/codingcorner.png"
    target="_blank"
    width="88"
    height="31"
  />
</a>
</div>
<br>
<h1>random buttons</h1>
<div class="buttons">
    <img src="src/assets/anybrow.gif" alt="anybrow"/>
    <img src="src/assets/banner2.gif" alt="banner2"/>
    <img src="src/assets/internetprivacy.gif" alt="internet privacy"/>
    <img src="src/assets/m-lol.gif" alt="m-lol"/>
    <img src="src/assets/nobelief.gif" alt="nobelief"/>
    <img src="src/assets/nocookie.gif" alt="nocookie"/>
    <img src="src/assets/pikachu.gif" alt="pikachu"/>
    <img src="src/assets/piracy.gif" alt="piracy"/>
    <img src="src/assets/play_ctf.gif" alt="play ctf"/>
    <img src="src/assets/subculture8831.gif" alt="sub culture"/>
    <img src="src/assets/y2kid.gif" alt="y2kid"/>
</div>