<h1>me and my frens heh</h1>
<div class="buttons">
<a href="/"><img src="assets/sarvesh-button.png" alt="sarvesh button" /></a>
<a href="https://codingcorner.dev/">
<img
   alt="Coding Corner"
   src="https://codingcorner.dev/buttons/codingcorner.png"
   width="88"
   height="31"
   />
</a>
<img src="assets/dipa_s_button.png" alt="dipa button" />
</div>
<br>
<h1>random buttons</h1>
<div class="buttons">
    <img src="assets/anybrow.gif" alt="anybrow"/>
    <img src="assets/banner2.gif" alt="banner2"/>
    <img src="assets/internetprivacy.gif" alt="internet privacy"/>
    <img src="assets/m-lol.gif" alt="m-lol"/>
    <img src="assets/nobelief.gif" alt="nobelief"/>
    <img src="assets/nocookie.gif" alt="nocookie"/>
    <img src="assets/pikachu.gif" alt="pikachu"/>
    <img src="assets/piracy.gif" alt="piracy"/>
    <img src="assets/play_ctf.gif" alt="play ctf"/>
    <img src="assets/subculture8831.gif" alt="sub culture"/>
    <img src="assets/y2kid.gif" alt="y2kid"/>
</div>