---
import Layout from "../layouts/Layout.astro";
import Redirects from "../pages/redirects.astro";
import Butt0Ns from "./butt0ns.astro";
---

<header>cool buttons!</header>

<Layout title="buttons">
</Layout>

<div class="mt-12 mx-5 gap-8">
	<div class="p-12 py-4 bg-gradient-to-br from-blue-400 via-blue-500 to-blue-700 border-4 border-blue-900 justify-center items-center flex flex-col text-xl text-white">
		<Redirects />
	</div>
	<br>
	<Butt0Ns />
</div>

<footer class="text-center">made with <3 by sarvesh! <a href="https://github.com/tarfish/personal-site" target="_blank">(repo)</a></footer>