<p>these are the ways that you can reach me:</p>
<ul class="list-disc list-inside">
<li>on the hackclub slack, my handle is "@sarvesh"</li>
<li>find my github <a href="https://github.com/tarfish" target="_blank">here!</a> i'm always looking for oppurtunities to collaborate with others!</li>
<li>my discord username is "tarfish_"</li>
<li>if you want to know if i have any other apps or if you want me to update this site, dm me in the hackclub slack!</li>
</ul>