---
import Layout from '../layouts/Layout.astro';
import Redirects from '../pages/redirects.astro';

---
<header>hey, im sarvesh!</header>

<Layout title="home">
<div class="container">
	<h1 class="text-center">welcome to my home!</h1>
</div>
</Layout>

<div class="mt-12 mx-5 gap-8">
	<div class="p-12 py-4 bg-[#fdfa72] border-4 border-[#FF8C00] rounded-lg justify-center items-center flex flex-col text-xl">
		<Redirects />
	</div>
</div>