<ul class="flex flex-row gap-4">
	<li><a href="/index">about</a></li>
	<li><a href="/projects">projects</a></li>
	<li><a href="/contact">contact</a></li>
	<li><a href="https://webring.bucketfish.me/" target="_blank">bucket webring</a></li>
	<li><a href="/buttons">buttons</a></li>
</ul>