@import "tailwindcss";


header {
    background-color: #dff3ff; /*light blue*/
    color: #0066cc;           /*medium blue*/
    text-align: center;
    padding: 10px 0px;
    font-size: 4rem;
}

a {
    text-underline-offset: 2px;
    color: #8fb6d1;           /*muted light blue*/
    transition: color 0.1s ease;
}

a:hover {
    color: #2f4b6a;           /*dark desaturated blue*/
    text-decoration: underline;
    text-decoration-style: wavy;
}

body {
    font-family: "arial", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #0073c9 0%, #4da3ff 100%); /*blue gradient*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #003b66;           /*deep blue*/
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.buttons img {
    display: block;
    height: auto;
    max-width: 100%;
}