@import "tailwindcss";


header {
    background-color: #fdfa72;
    color: #FF8C00;
    text-align: center;
    padding: 10px 0px;
    font-size: 4rem;
}

a {
    text-underline-offset: 2px;
    color: #cb9867;
    transition: color 0.1s ease;
}

a:hover {
    color: #6f4d3d;
    text-decoration: underline;
    text-decoration-style: wavy;
}

body {
    font-family: "Archivo", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #ffa200 0%, #ffc300 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #c56001;
}